* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh; 
    margin: 0;
    font-family: Arial, sans-serif; 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #090909;
}

.content-wrapper {
    height: 100%;
    width: 100%; 
    max-width: 100%; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

/* Header */

header {
    position: relative;
    width: 100%;
    padding: 20px 0;
    background-color: #090909;
    color: white;
    text-align: center; 
}

i{
    color: white;
    font-size: 12px;
}

Header>button{
    background-color: #4A4A4A;
    color: white;
    font-size: 12px;
    position: absolute;
    top: 5px;
    padding: 5px;    
}

.toptext{
    right: 40px;
}

.symbol{
    right: 5px;  
}

/* Main con foto */

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #090909;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin: 0 auto;
    max-width: 1200px; 
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100% / 7 - 5px); 
    margin: 2.5px;
    align-items: center;
}

.image-container {
    width: 100%; 
    position: relative;
}

.image-container>img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

div.pincopallo{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

div.pincopallo>i{
    margin: 0 5px;
}

/* Footer */

footer {
    width: 100%;
    background-color: #222222;
    color: white;
    text-align: center; 
    height: 10vh;
    font-size: 10px;
}



.fcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}

.leftbox, .rightbox, .middlebox{
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
}

.leftbox, .rightbox{
    width: 60%;
}

.rightbox{
    justify-content: flex-end;
}

.rightbox>span{
    display: flex;
    background-color: #4A4A4A;
    color: red;
    height: 100%;
    align-items: center;
    padding: 10px;
}

.middlebox{
    width: 100%;
    height: 100%;
    justify-content: center;
}

.leftbox>div, .middlebox>div{
    margin: 0 7px;
   
}

#green{
    color: #4BC800;
}

footer p{
    margin: 5px 0;
}